


header {
    .bandeau_header {
        background-color: #1A4301;
        min-height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h3 {
        font-family: $palitoon;
    }
   

    p {
        color: white;
    }

    .header_nav{
        display: flex;
        margin-left: 3%;
        margin-top: 2%;
        justify-content: center;
        align-items: center;
        gap: 3%;
        
        @include breakpoint(1250px, 'max'){
            margin-left: 1%;
            gap: 2%;
        }

        @include breakpoint(1090px, 'max'){
            margin-left: 0%;
            gap: 1%;
        }

        @include breakpoint(1000px, 'max'){
          justify-content: flex-start;
          flex-direction: column;
          align-items: flex-start;
            margin-left: 3%;
        }


        .logo_header{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            img {
                width: 30px;
            }


            @include breakpoint(1000px, 'max'){
                display: none;
            
            }
        }

     

        

        .logo_responsive {
            
            display: flex;
            justify-content: space-between;

            @include breakpoint(1000px, 'max'){
                width: 90%;
            }

        }

        .logo_n {
            img{
                width: 250px;
                height: 50px;
                /* object-fit: cover; */

                @include breakpoint(1250px, 'max'){
                    width: 200px;
                    height: 40px;
                }

                @include breakpoint(1090px, 'max'){
                    width: 175px;
                    height: 30px;
                }

                @include breakpoint(1000px, 'max'){
                    width: 200px;
                    height: 35px;
                }
            }
        }

        .menu_deroulant_index {
            display: none;
            

            @include breakpoint(1000px, 'max'){
                display: inline-block;
                position: relative;

                .sous-menu {
                    display: none;
                    position: absolute;
                    top: 0;
                    right: 100%; /* Afficher le sous-menu à gauche de l'élément */
                    background-color: #fff;
                    border: 1px solid #ccc;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    padding: 10px;
                    list-style: none;
                    margin: 0;
                    gap: 1rem;
                }
            
                &:hover .sous-menu {
                    display: flex;
           
                }

                li {
                 

                    a {
                        color: black;
                        text-decoration: none;
                        font-family: $palitoon;
                        font-size: 20px;
                        font-weight: 400;
                    }
                    margin-bottom: 8px;

                }
            }

            img {
                height: 15px;
            }

        }

        .form_recherche{
            display: flex;
            align-items: center;


            @include breakpoint(1000px, 'max'){
                width: 70%;
            }

            @include breakpoint(780px, 'max'){
                width: 55%;
            }

            @include breakpoint(500px, 'max'){
                width: 45%;
            }

            @include breakpoint(365px, 'max'){
                width: 25%;
            }

            

            input {
                padding: 10px 250px 10px 10px;
                border-radius: 16px;

                @include breakpoint(1250px, 'max'){
                    padding: 10px 150px 10px 10px;
                }

                @include breakpoint(1090px, 'max'){
                    padding: 10px 100px 10px 10px;
                }

                @include breakpoint(1000px, 'max'){
                    padding: 10px 100% 10px 10px;
                }
            }

            .logo_loop{
                position: absolute;
                right: 42%;
                transform: translate(-50%);
                cursor: pointer;

                @include breakpoint(1250px, 'max'){
                    right: 46%;
                }

                @include breakpoint(1090px, 'max'){
                    right: 50%;
                }

                @include breakpoint(1000px, 'max'){
                    display: none;
                }

            }

        }
    }


}


/* @include breakpoint(1000px, 'max'){
    margin-top: 150px;
    font-size: 60px;
}
 */